 body{
 background-color: #fdf6e3;
}

header{
  font-size: 1.5rem;
}

footer {
  font-size: 1.5rem;
}

nav {
  font-family: sans-serif;
}

.logo {
  text-transform: uppercase;

}

.wrapper {
  background-color: #eee8d5;
}

#contents {
  color: #eee8d5;
}

#favs {
  color: #93a1a1;
}

ol > li:nth-child(1) {
  color: #719e47;
}

ol > li:nth-child(3) {
  color: #2aa198;
}

#facts {
  color: #93a1a1;
}

#types {
  color: #93a1a1;
}

.dfn.wrapper {
  background-color: #b58900;

}

a.href {
  background-color: #719e07;
}

.external {
  background-color: #2694d8;
}

.ol li{
color: #719e47;
}

.logo {
  text-transform: uppercase;
  color: #719e47;

}
